@import url('https://fonts.googleapis.com/css?family=Righteous|Russo+One&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

body {
  background: #e65c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 20px;
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Russo One', sans-serif;
}

h1,h2,h3 {
  font-family: 'Righteous', cursive;
}

p {
  font-family: 'Old Standard TT', serif;
}

